/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap')

/* VARIABLESS */
:root {
    --primary-color: #FB6A27;
    --dark-color: black;
    --gray-color: gray;
    
    --h1-font-size: 40px;
    --h2-font-size: 32px;
    --small-font-size: 14px;
}

/* REST CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/*GLOBAL CSS */
section {
    padding: 70px 0;
}

section .section.title {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-orange {
    background-color: #FB6A27;
    color: white;
}

.btn-orange:hover {
    background-color: black;
    color: white;
}

.text-orange {
    color: #FB6A27;
}

.text-dark {
    color: black;
}
.fs-7 {
    font-size: 14px;
}
.form-control:focus {
    box-shadow: none;
    border-color: #FB6A27;
}
/* CSS PER SECTION */

/* NAVBAR */
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
    color: #FB6A27;
}

/* HEADER */
.header-section .header-title {
    font-size: 40px;
}

.header-section .header-skill {
    color: rgb(0, 0, 46);
}

.header-section .header-skill:hover {
    color: #FB6A27;
}

.header-section .header-skill i {
    transition: .3s;
}

.header-section .header-skill:hover i {
    transform: rotate(-45deg);
}

.header-section .header-img {
    width: 55%;
    border-radius: 50%;
}

/*ABOUT*/
.about-section, footer {
    background-color: #030304;
}

/*PORTFOLIO */
.portfolio-section .card .card-img-top {
    height: fit-content;
    width: fit-content;
    object-fit: cover;
}

@media screen and (max-widht: 768px) {
    .portfolio-section .card .card-img-top {
        height: 100%;
    }
}

/*CONTACT*/
.contact-section {
    background-color: rgb(248, 248, 248);
}